.reg-from-container{
    padding-left: 250px;
    
}

.form-label{
    color: #ffffff;
}

.form-control{
    background-color: #0c7453;
    border: #0c7453;
}
.title-profile{
    color: #ffffff;
}

.form-check-label{
    color: #ffffff;
}