#chart{
    padding-top: 100px;
    width: 152%;
    position: relative;
    background-color: aliceblue;
    margin-top:  150px;
    right: 190px;
    
}

.chat-div{
    background-color: aquamarine;
}