
.welcomehome{
    color: rgb(255, 255, 255);
    padding-top: 280px;
}

.welcome-button{

    color: rgb(18, 98, 87);
    background-color: rgb(255, 255, 255);
    border: none;

}

.welcome-button:hover{

    color: rgb(255, 255, 255);
    background-color: rgb(29, 149, 133);
    border: none;

}