/* Common styles for buttons */
.welcome-button {
    color: rgb(188, 55, 55);
    width: 220px;
    font-weight: 500;
    margin-left: 800px;
    margin-top: 30px;
    background-color: #fffbfb;
    border: none;
}

.welcome-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(188, 55, 55);
    border: none;
}

/* Styles for larger screens */
@media (min-width: 768px) {
    .welcomehome {
        padding-top: 280px;
    }

    .title-card-two {
        width: 95%;
        bottom: 220px;
        background-color: #fffbfb00;
        border: none;
        color: #fffbfb;
        left: 30px;
    }

    .Para-card {
        width: 80%;
        font-size: large;
        padding: 30px;
        height: 400px;
        bottom: 60px;
        left: 150px;
        background-color: rgba(240, 248, 255, 0.164);
        color: #fffbfb;
    }

    .title-card-one-welcome{
        text-align: center;
        
    }
}

/* Styles for smaller screens */
@media (max-width: 767px) {
    .welcomehome {
        padding-top: 100px;
    }

    .title-card-two {
        width: 90%;
        bottom: 20px;
        background-color: #fffbfb00;
        color: #fffbfb;
        left: 30px;
    }

    .Para-card {
        width: 80%;
        font-size: medium;
        padding: 20px;
        height: auto;
        left: 20px;
        background-color: rgba(240, 248, 255, 0.164);
        color: #fffbfb;
        bottom: 20px;
        border-radius: 20px;
    }
}

/* Additional styles for mobile devices */
@media (max-width: 375px) {
    .welcomehome {
        padding-top: 40px;
    }

    .title-card-two {
        width: 90%;
        bottom: 20px;
        color: #fffbfb;
        left: 30px;
        background-color: #fffbfb00;
    }

    .Para-card {
        width: 90%;
        font-size: small;
        padding: 10px;
        height: auto; /* Adjusted height */
        left: 20px;
        background-color: rgba(240, 248, 255, 0.164);
        color: #fffbfb;
        bottom: 20px;
        border-radius: 20px;
    }
}

@media (max-width: 575px) {
    .welcomehome {
        padding-top: 80px;
    }

    .title-card-two {
        width: 90%;
        bottom: 20px;
        background-color: #fffbfb00;
    }

    .Para-card {
        width: 90%;
        font-size: small;
        padding: 10px;
        height: auto; /* Adjusted height */
        left: 20px;
        background-color: rgba(240, 248, 255, 0.164);
        color: #fffbfb;
        bottom: 20px;
        border-radius: 20px;
    }
}
.content{
    text-align: justify;
    line-height: 35px;
}
.propic{
    margin-left: 1280px;
    margin-top: -85px;
}
