body {
    min-height: 100vh;
    overflow: hidden;
  }

  .chat-container{
    margin-left: 200px;
    margin-right: 150px;
    width: 70;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box,
  .chat-box {
    height: 440px;
    overflow-y: scroll;

  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }
  
/* Add this CSS to ChatBox.css */
.chat-box-input {
  color: black !important; 
  height: 72px;
}
  .chat-box-send-button {
    color: black; 
    height: 50px;
  }
  
  h4{
    text-align: left;
    color: #7a7a7a;
  }
  
 
  
  .btn-primary {
    background-color: #0f8155; /* Set button background color */
    color: white; /* Set button text color */
    border: none; /* Remove button border */
  }
  
  .btn-primary:hover {
    background-color: #125e41; /* Change background color on hover */
  }
  
  .h4 {
    text-align: left;
    color: #065d3c;
  }
  