

h2{
  margin-top:120px;
}
.report-container{
  margin-top: 130px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  text-align: center; /* Center align text in table */
  border-radius: 5px; /* Increase border radius */
  
  overflow: hidden; /* Ensure border radius is applied correctly */
}

.pdf {
  width: 100px;
  margin: 5px;
}

h3, .report {
  color: white; /* Set color of h3 and .report to white */
}

.pdf{
  width: 100px;
  margin: 5px;
}
h3{
  color: white;
}
.report{
  color: white;
}
.tb-btn{
  margin: 2px;
}

.search-bar{
  margin-left: 1100px;
}
.srch-bar{
  width: 200px;
  height: 40px;
  border-radius: 10px;

}